# Python / venv
__pycache__/
*.pyc
.venv*/
.venv*/

# Data y cachés
data/
*.db
.chromadb/
chroma/

# Entornos
.env

# Streamlit
.streamlit/secrets.toml

# VSCode / JetBrains
.vscode/
.idea/

# Docker
*.log
